<ion-content padding>
  <ion-grid>
    <ion-row class="gutters center-page" *ngIf="hideDate">
      <ion-col col-12>
        <ion-item >
          <ion-datetime class="centered centered-horizontal" displayFormat="MM/DD/YYYY" [(ngModel)]="this.dateSober" placeholder="First Day Sober"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-12 class="centered">
        <button ion-button (click)='saveDate();'>Save</button>
      </ion-col>
    </ion-row>
    <ion-row class="gutters center-page" *ngIf="!hideDate">
      <ion-col col-12 class="centered">
        <span class="centered xlarge-font"> You have been sober for: </span>
      </ion-col>
      <ion-col col-12 class="centered xlarge-font">
        <span> {{daysSober}} Days </span>
      </ion-col>
      <ion-col col-12 class="centered xlarge-font">
        <span> {{hoursSober}} Hours </span>
      </ion-col>
      <ion-col col-12 class="centered xlarge-font">
        <span> {{minutesSober}} Minutes </span>
      </ion-col>
      <ion-col col-12 class="centered xlarge-font">
        <span> and {{secondsSober}} Seconds </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
