sober-clock {
  .gutters {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .centered {
    text-align: center;
  }

  .center-page {
    margin-top: 50%;
  }

  .large-font {
    font-size: large;
  }

  .xlarge-font {
    font-size: x-large;
  }
  
  .xxlarge-badge {
    font-size: xx-large;
  }

  .badge-green {
    background-color: #00ec6a
  }

  .round-badge {
    border-radius: 50% !important;
  }
}
