<ion-content padding>
  <ion-grid>
    <ion-row class="gutters center-page" text-center *ngIf="hideDate">
      <ion-col col-12>
        <ion-item >
          <ion-datetime class="centered-horizontal" displayFormat="MMMM DD YYYY" max="{{maxDate}}" [(ngModel)]="this.dateSober" placeholder="Enter sober date..."></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <button ion-button [disabled]="!this.dateSober" (click)='saveDate();'>Save</button>
      </ion-col>
    </ion-row>
    <ion-row class="gutters center-page xlarge-font" text-center *ngIf="!hideDate">
      <ion-col col-12 [innerHtml]="'You have been sober for: '"></ion-col>
      <ion-col col-12 [innerHtml]="daysSober + ' Days'"></ion-col>
      <ion-col col-12 [innerHtml]="hoursSober + ' Hours'"></ion-col>
      <ion-col col-12 [innerHtml]="minutesSober + ' Minutes'"></ion-col>
      <ion-col col-12 [innerHtml]="'and ' + secondsSober + ' Seconds'"></ion-col>
      <ion-col col-12>
        <button ion-button clear icon-only (click)="onEditClick()">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
