<ion-content padding> 
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-datetime class="centered-horizontal" displayFormat="MMMM YYYY" pickerFormat="MMMM YYYY" max="{{maxDate}}" [(ngModel)]="selectedDate" (ngModelChange)='onDateChange()'></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card *ngFor="let entry of journalEntries">
          <ion-card-header class="center-text">
            {{formatDate(entry)}}
            <button (click)="removeEntry(entry)" ion-button icon-only clear top right color='danger'>
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-card-header>
          <hr>
          <ion-card-content (click)="editEntry(entry)" text-center [innerHtml]="entry.text">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="gutters center-page xlarge-font" text-center *ngIf="journalEntries.length === 0">
      <ion-col col-12 [innerHtml]="'No entries for this date...'"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button (click)="editEntry(null)" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>